# Created by .ignore support plugin (hsz.mobi)

synchronizationFunc/build
libuv_demo/build
gypDemo/helloworld/build
dealWithJsParams/build
returnObject2Js/build
drealArray/build
asyncCallback/build
objectFactory/build
functionFactory/build
wrapperCppObject/build
.vscode